function Player.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Player.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Player.draw 2
push argument 0
pop pointer 0
push this 1
push constant 512
call Math.multiply 2
push this 0
add
pop local 1
push constant 16384
push local 1
add
pop local 0
push argument 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 385
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 15805
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 9637
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 9637
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32189
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 385
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 28663
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 24583
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 27223
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 24583
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_END0
push constant 0
return
