function GameController.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 50
pop static 2
push constant 1
pop static 0
push constant 1
pop static 1
push constant 2
pop this 1
push constant 3
pop this 2
push constant 5
pop this 3
push constant 0
not
pop static 3
push constant 15
pop this 5
push this 5
pop this 4
push pointer 0
return
function GameController.getIsDay 0
push static 3
return
function GameController.setDelay 0
push argument 0
pop pointer 0
push argument 1
pop static 2
push constant 0
return
function GameController.random 1
push argument 0
pop pointer 0
push local 0
push argument 1
push argument 2
push constant 0
call Rd.between 4
return
function GameController.start 7
push argument 0
pop pointer 0
push constant 15
push constant 15
push constant 3
push static 1
push static 0
call Platform.new 5
pop local 0
push constant 19
push constant 15
call Player.new 2
pop local 1
push local 1
push constant 0
not
call Player.draw 2
pop temp 0
push local 0
push constant 0
not
push constant 0
call Platform.draw 3
pop temp 0
push local 2
push constant 10
push constant 60
push local 1
call Player.c_ypos_d 1
push local 2
push constant 12
push constant 22
push constant 18
call Rd.between 4
add
call Rd.between 4
push local 2
push constant 10
push constant 60
push local 1
call Player.c_ypos_d 1
push local 2
push constant 22
push constant 42
push constant 86
call Rd.between 4
add
call Rd.between 4
add
pop local 4
push constant 1
pop local 5
push constant 0
pop local 6
label WHILE_EXP0
push this 0
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 3
push constant 0
eq
push this 0
not
and
not
if-goto WHILE_END1
push this 4
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 5
pop this 4
push static 3
not
pop static 3
push static 3
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
call Screen.setColor 1
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 0
call Screen.setColor 1
pop temp 0
label IF_END1
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
goto IF_END0
label IF_FALSE0
push this 4
push constant 1
sub
pop this 4
label IF_END0
push local 4
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
push constant 10
push constant 60
push local 1
call Player.c_ypos_d 1
push local 2
push constant 12
push constant 22
push constant 18
call Rd.between 4
add
call Rd.between 4
push local 2
push constant 10
push constant 60
push local 1
call Player.c_ypos_d 1
push local 2
push constant 22
push constant 42
push constant 86
call Rd.between 4
add
call Rd.between 4
add
pop local 4
push local 2
push constant 1
push constant 4
push local 1
call Player.c_xpos_d 1
call Rd.between 4
pop local 5
push local 5
push constant 1
eq
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 6
push constant 4
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 1
pop local 5
push constant 0
pop local 6
goto IF_END4
label IF_FALSE4
push local 6
push constant 1
add
pop local 6
label IF_END4
goto IF_END3
label IF_FALSE3
push constant 0
pop local 6
label IF_END3
push local 5
call Output.printInt 1
pop temp 0
push local 5
call Player.set_gravity_direction 1
pop temp 0
goto IF_END2
label IF_FALSE2
push local 4
push constant 1
sub
pop local 4
label IF_END2
push local 1
call Player.stimulate_time 1
pop temp 0
call Keyboard.keyPressed 0
pop local 3
push local 1
call Player.on_ground 1
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 1
call Player.is_jumping 1
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 1
call Player.enforce_gravity 1
pop temp 0
goto IF_END6
label IF_FALSE6
push local 1
call Player.jump 1
pop temp 0
label IF_END6
label IF_FALSE5
push pointer 0
call GameController.handlePlatform 1
pop temp 0
push local 1
push constant 0
not
call Player.draw 2
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push local 3
push constant 32
eq
push local 1
call Player.is_jumping 1
not
and
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 1
push constant 5
call Player.set_jumping_height 2
pop temp 0
push local 1
call Player.jump 1
pop temp 0
goto IF_END7
label IF_FALSE7
push local 3
push constant 140
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 0
not
pop this 0
goto IF_END8
label IF_FALSE8
push local 3
push constant 70
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 1
call Player.dash 1
pop temp 0
label IF_FALSE9
label IF_END8
label IF_END7
label WHILE_EXP2
push local 3
push constant 0
eq
not
push this 0
not
and
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 3
push pointer 0
call GameController.handlePlatform 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push this 0
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_FALSE10
push constant 0
return
function GameController.handlePlatform 9
push argument 0
pop pointer 0
call Player.get_gravity_direction 0
pop local 8
push static 0
push local 8
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Platform.disposeAll 0
pop temp 0
push static 3
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
call Screen.setColor 1
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 0
call Screen.setColor 1
pop temp 0
label IF_END1
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push local 8
pop static 0
push local 8
pop static 1
push local 8
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 15
push constant 15
push constant 5
push static 1
push static 0
call Platform.new 5
pop local 2
push constant 22
push constant 15
push constant 5
push static 1
push static 0
call Platform.new 5
pop local 3
goto IF_END2
label IF_FALSE2
push local 8
push constant 2
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 15
push constant 15
push constant 5
push static 1
push static 0
call Platform.new 5
pop local 2
push constant 7
push constant 15
push constant 5
push static 1
push static 0
call Platform.new 5
pop local 3
goto IF_END3
label IF_FALSE3
push local 8
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 15
push constant 8
push constant 5
push static 1
push static 0
call Platform.new 5
pop local 2
push constant 15
push constant 15
push constant 5
push static 1
push static 0
call Platform.new 5
pop local 3
goto IF_END4
label IF_FALSE4
push constant 15
push constant 2
push constant 5
push static 1
push static 0
call Platform.new 5
pop local 2
push constant 15
push constant 10
push constant 5
push static 1
push static 0
call Platform.new 5
pop local 3
label IF_END4
label IF_END3
label IF_END2
push local 2
push constant 0
not
push constant 0
call Platform.draw 3
pop temp 0
push local 3
push constant 0
not
push constant 0
call Platform.draw 3
pop temp 0
push constant 0
return
label IF_FALSE0
call Platform.getFirst 0
pop local 0
label WHILE_EXP0
push local 0
call Platform.hasNext 1
not
if-goto WHILE_END0
push local 0
call Platform.move 1
pop temp 0
push local 0
call Platform.getNext 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
call Platform.move 1
pop temp 0
push local 0
call Platform.hasFullyEnteredScene 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
push constant 10
call Random.between 2
pop local 7
push constant 3
push constant 8
call Random.between 2
pop local 6
push static 0
push constant 3
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 7
push constant 5
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 0
call Platform.getY 1
push this 1
add
push constant 15
push this 2
sub
gt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 0
call Platform.getY 1
push this 1
sub
pop local 5
goto IF_END8
label IF_FALSE8
push local 0
call Platform.getY 1
push this 1
add
pop local 5
label IF_END8
goto IF_END7
label IF_FALSE7
push local 0
call Platform.getY 1
push this 1
sub
push constant 2
lt
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 0
call Platform.getY 1
push this 1
add
pop local 5
goto IF_END9
label IF_FALSE9
push local 0
call Platform.getY 1
push this 1
sub
pop local 5
label IF_END9
label IF_END7
push static 0
push constant 1
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 32
pop local 4
goto IF_END10
label IF_FALSE10
push constant 1
neg
push local 6
sub
pop local 4
label IF_END10
goto IF_END6
label IF_FALSE6
push local 7
push constant 5
lt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push local 0
call Platform.getX 1
push this 1
sub
push constant 3
lt
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push local 0
call Platform.getX 1
push this 1
add
pop local 4
goto IF_END12
label IF_FALSE12
push local 0
call Platform.getX 1
push this 1
sub
pop local 4
label IF_END12
goto IF_END11
label IF_FALSE11
push local 0
call Platform.getX 1
push this 1
add
push constant 29
push this 3
sub
gt
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push local 0
call Platform.getX 1
push this 1
sub
pop local 4
goto IF_END13
label IF_FALSE13
push local 0
call Platform.getX 1
push this 1
add
pop local 4
label IF_END13
label IF_END11
push static 0
push constant 3
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push constant 16
pop local 5
goto IF_END14
label IF_FALSE14
push constant 1
neg
push local 6
sub
pop local 5
label IF_END14
label IF_END6
push local 4
push local 5
push local 6
push static 1
push static 0
call Platform.new 5
pop temp 0
label IF_FALSE5
call Platform.getFirst 0
pop local 0
push local 0
call Platform.hasExittedScreen 1
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push local 0
call Platform.dispose 1
pop temp 0
label IF_FALSE15
push constant 0
return
function GameController.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
